@tailwind base;
@tailwind components;
h1:after{
    content:' ';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: 100% 0;
    @apply bg-gray-200

}
@tailwind utilities;